body {
            margin: 0;
            padding: 0;
            height: 100vh; /* Full viewport height */
            
            /* Set your GIF file path here */
            background-image: url('11da17f139514aa738fea26d9265c4b4.gif'); 
            
            /* Optional: cover the whole area or keep aspect ratio */
            background-size: cover; 
            background-position: center; 

            color: white; /* Text must be readable over GIF */
            font-family: sans-serif;
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
button {
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.15);
}
button:hover {
  background-color: rgba(0,0,0,0.25);
  box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.35);
}

button:focus {
  background-color: rgba(0,0,0,0.25);
  box-shadow: 6px 8px 15px rgba(0, 0, 0, 0.5);
}

button:active {
  background-color: rgba(0,0,0,1);
}
